from __future__ import annotations

from typing import TYPE_CHECKING

if TYPE_CHECKING:
    from denvr.session import Session


class Client:
    def __init__(self, session: Session):
        self.session = session

    {% for method in methods %}
    def {{ method.name }}(
        self,
        {% if method.params or method.json %}*,{% endif %}
        {% if method.params %}
        {% for entry in method.params %}
        {{ entry.kwarg }}: {{ entry.type }}{% if not entry.required %} | None = None{% endif %},
        {% endfor %}
        {% endif %}
        {% if method.json %}
        {% for entry in method.json %}
        {{ entry.kwarg }}: {{ entry.type }}{% if not entry.required %} | None = None{% endif %},
        {% endfor %}
        {% endif %}
    ):
        """
        {{ method.description }}

        {% if method.params or method.json %}
        Keyword Arguments:
            {% if method.params %}
            {% for entry in method.params %}
            {{ entry.kwarg }} ({{ entry.type }}){% if entry.desc %}: {{ entry.desc|safe }}{% if entry.example %} (ex: {{ entry.example|safe }}){% endif +%}{% endif +%}
            {% endfor %}
            {% endif %}
            {% if method.json %}
            {% for entry in method.json %}
            {{ entry.kwarg }} ({{ entry.type }}){% if entry.desc %}: {{ entry.desc|safe }}{% if entry.example %} (ex: {{ entry.example|safe }}){% endif +%}{% endif +%}
            {% endfor %}
            {% endif %}
        {% endif %}

        {% if method.rtype %}
        Returns:
            ({{ method.rtype }}):
                {% for entry in method.rprops %}
                {{ entry.name }} ({{ entry.type }}){% if entry.desc %}: {{ entry.desc|safe }}{% if entry.example %} (ex: {{ entry.example|safe }}){% endif +%}{% endif +%}
                {% endfor %}
        {% endif %}
        """
        kwargs = {
            {% if method.params %}
            'params': {
                {% for entry in method.params %}
                '{{ entry.param }}': {{ entry.kwarg }} if {{ entry.kwarg }} else getattr(self.session.config, '{{entry.kwarg}}', None),
                {% endfor %}
            },
            {% endif %}
            {% if method.json %}
            'json': {
                {% for entry in method.json %}
                '{{ entry.param }}': {{ entry.kwarg }} if {{ entry.kwarg }} else getattr(self.session.config, '{{entry.kwarg}}', None),
                {% endfor %}
            },
            {% endif %}
        }

        return self.session.request(
            '{{ method.method }}',
            '{{ method.path }}',
            **kwargs,
        )

    {% endfor %}
