import pytest

from unittest.mock import Mock
from requests.exceptions import HTTPError

from denvr.config import Config
from denvr.session import Session
from denvr.{{ module }} import Client
from denvr.validate import validate_kwargs

{% for method in methods %}
def test_{{ method.name }}():
    config = Config(defaults={}, auth=None)

    session = Mock()
    session.config = config
    client = Client(session)

    {% if method.required %}
    # Check that missing required arguments without a default should through a TypeError
    if any(getattr(config, k, None) is None for k in [ {% if method.required %}"{{ method.required | join('", "') | safe }}"{% endif %} ]):
        with pytest.raises(TypeError, match=r"^Required"):
            client.{{ method.name }}()
    else:
        client.{{ method.name }}()
    {% else %}
    client.{{ method.name }}()
    {% endif %}

    client_kwargs = {
        {%- if method.params -%}
        {%- for entry in method.params -%}
        '{{ entry.kwarg }}': {{ entry.val|safe }},
        {%- endfor -%}
        {%- endif -%}
        {%- if method.json -%}
        {%- for entry in method.json -%}
        '{{ entry.kwarg }}': {{ entry.val|safe }},
        {%- endfor -%}
        {%- endif -%}
    }

    request_kwargs = validate_kwargs(
        '{{ method.method }}',
        '{{ method.path }}',
        {
            {%- if method.params -%}
            'params': {
                {%- for entry in method.params -%}
                '{{ entry.param }}': {{ entry.val|safe }},
                {%- endfor -%}
            },
            {%- endif -%}
            {%- if method.json -%}
            'json': {
            {%- for entry in method.json -%}
            '{{ entry.param }}': {{ entry.val|safe }},
            {%- endfor -%}
            },
            {%- endif -%}
        },
        { {% if method.required %}"{{ method.required | join('", "') | safe }}"{% endif %} },
    )

    client.{{ method.name }}(**client_kwargs)

    session.request.assert_called_with(
        '{{ method.method }}',
        '{{ method.path }}',
        **request_kwargs,
    )


@pytest.mark.integration
def test_integration_{{ method.name }}(mock_config):
    session = Session(mock_config)
    client = Client(session)

    client_kwargs = {
        {%- if method.params -%}
        {%- for entry in method.params -%}
        '{{ entry.kwarg }}': {{ entry.val|safe }},
        {%- endfor -%}
        {%- endif -%}
        {%- if method.json -%}
        {%- for entry in method.json -%}
        '{{ entry.kwarg }}': {{ entry.val|safe }},
        {%- endfor -%}
        {%- endif -%}
    }

    client.{{ method.name }}(**client_kwargs)
    # TODO: Test return type once we add support for that in our genapi script.

{% endfor %}
